{% extends 'base.html' %}

{% block content %}

<h1>Food Item Details</h1>
<br>
<h3>Name: {{object.name}}</h3>
<h3>Price: ${{object.price}}</h3>
<h3>Notes: {{object.notes}}</h3>
<h3>Plat du Jour: {{object.plat_du_jour}}</h3>



<hr>

<!--Back button-->
<a href="{%url 'menu' %}"> <button class="btn btn-dark">Back</button></a>

<br>
<br>

<!--Edit button-->
<a href="{%url 'edit_food' object.pk %}"> <button class="btn btn-dark">Edit</button></a>
<br>
<br>

<!--Make or Remove Plat Du Jour button-->
<form method="post">
    {% csrf_token %}
    {% if object.plat_du_jour == False %}
    <button type="submit" name="toggle_plat_du_jour" class="btn btn-success">
        Make Plat Du Jour
    </button>
    {% else %}
    <button type="submit" name="toggle_plat_du_jour" class="btn btn-danger">
        Remove Plat Du Jour
    </button>
    {%endif%}
</form>





{% endblock %}