{% extends 'base.html' %}

{%block content %}
<style>
    body {
        font-family: sans-serif;
        background-color: #f5f5f5;
    }

    h1 {
        font-size: 3em;
        text-align: center;
        color: #333;
        margin-bottom: 10px;
        margin-top: 10px;
    }


    h3 {
        font-size: 1.5em;
        text-align: center;
        color: #666;
        margin-bottom: 5px;
    }

    p {
        font-size: 1em;
        text-align: center;
        color: #999;
        margin-bottom: 15px;
    }

    .btn {
        background-color: #000;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        margin: 5px;
    }

    .btn:hover {
        background-color: #333;
        cursor: pointer;
    }

    form {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    input {
        padding: 5px 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    button {
        margin-left: 10px;
    }

    ul {
        /* Apply same font family as body */
        font-family: sans-serif;
        /* Set margin and padding to 0 for consistent spacing */
        margin: 0;
        padding: 0;
        /* Remove default list-style */
        list-style: none;
        text-align: center;

    }

    .messages ul,
    .posts ul {
        /* Add border-bottom for separation between sections */
        border-bottom: 1px solid #ddd;
        padding-bottom: 15px;
    }

    /* Pagination styling */
    .pagination {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .pagination li {
        list-style: none;
        margin: 0 5px;
        padding: 5px 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }

    .pagination li:hover {
        background-color: #eee;
    }

    .pagination li.active {
        background-color: #ccc;
        font-weight: bold;
    }
</style>



<h1>Menu</h1>
<br>

<form method="post" action="{% url 'menu_search' %}" class="d-flex" style="max-width: 300px; margin: 0 auto;">
    {% csrf_token %}
    <input class="form-control me-2" type="input" name="submission" placeholder="Search Menu">
</form>
<br>


<ul>
    <!-- "reversed" reverses the order. originally it was displaying the oldest to latest.-->
    {% for food_item in food_items %}

    <li>
        <a href="{%url 'food_details' food_item.pk %}"> {{food_item.name}} _${{food_item.price}} </a>
        <br>
        <!-- shows first 30 characters. removing the slice part would show the entire body-->
        <!-- {{post.body | slice:":30"}} -->
    </li>

    {% endfor %}

</ul>




{% endblock %}