{% extends 'base.html' %}

{%block content %}


{%if customers%}
<h1>Search Results for "{{name_or_num}}"</h1>

<ul>
    {% for customer in customers %}

    <li>
        <a href="{%url 'customer_details' customer.pk %}"> {{customer.name}} -- {{customer.phone_number}} </a>
        <br>
    </li>

    {% endfor %}

</ul>
{%else%}
<h1>No results found for "{{name_or_num}}"</h1>

<div style="text-align: center;">
    <a href="{% url 'add_customer' %}">
        <button class="btn btn-dark">Add Customer</button>
    </a>
</div>
{%endif%}

{% endblock %}