{% extends 'base.html' %}

{%block content %}

<style>
    body {
        font-family: sans-serif;
        background-color: #f5f5f5;
    }

    h1 {
        font-size: 3em;
        text-align: center;
        color: #333;
        margin-bottom: 10px;
        margin-top: 10px;
    }


    h3 {
        font-size: 1.5em;
        text-align: center;
        color: #666;
        margin-bottom: 5px;
    }

    p {
        font-size: 1em;
        text-align: center;
        color: #999;
        margin-bottom: 15px;
    }

    .btn {
        background-color: #000;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        margin: 5px;
    }

    .btn:hover {
        background-color: #333;
        cursor: pointer;
    }

    form {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    input {
        padding: 5px 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    button {
        margin-left: 10px;
    }

    ul {
        /* Apply same font family as body */
        font-family: sans-serif;
        /* Set margin and padding to 0 for consistent spacing */
        margin: 0;
        padding: 0;
        /* Remove default list-style */
        list-style: none;
        text-align: left;

    }

    .messages ul,
    .posts ul {
        /* Add border-bottom for separation between sections */
        border-bottom: 1px solid #ddd;
        padding-bottom: 15px;
    }

    /* Pagination styling */
    .pagination {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .pagination li {
        list-style: none;
        margin: 0 5px;
        padding: 5px 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }

    .pagination li:hover {
        background-color: #eee;
    }

    .pagination li.active {
        background-color: #ccc;
        font-weight: bold;
    }
</style>

<h1>Today</h1>




<h2>Plats du Jour</h2>

<ul>
    {% for plat_du_jour in plats_du_jour %}
    <li>
        <a href="{% url 'food_details' plat_du_jour.pk %}"> {{ plat_du_jour.name }}
            ${{plat_du_jour.price}}</a>
        <br>
    </li>
    {% endfor %}
</ul>

<br>

<h2>Pickup Orders</h2>

<ul>
    {% for pickup_order_for_today in pickup_orders_for_today %}
    <li>
        {%if pickup_order_for_today.paid == False%}
        <a href="{%url 'order_details' pickup_order_for_today.pk %}"> {{pickup_order_for_today.customer.name}} -
            {{pickup_order_for_today.needed_for|time:"H:i A"}} -
            ${{pickup_order_for_today.total_price}} -- NOT paid </a>
        {%else%}
        <a href="{%url 'order_details' pickup_order_for_today.pk %}"> {{pickup_order_for_today.customer.name}} -
            {{pickup_order_for_today.needed_for|time:"H:i A"}} -
            ${{pickup_order_for_today.total_price}} -- PAID </a>
        {%endif%}
        <br>
    </li>
    {% endfor %}
</ul>

<br>

<h2>Delivery Orders</h2>

<ul>
    {% for delivery_order_for_today in delivery_orders_for_today %}
    <li>
        {%if delivery_order_for_today.paid == False%}
        <a href="{%url 'order_details' delivery_order_for_today.pk %}"> {{delivery_order_for_today.customer.name}} -
            {{delivery_order_for_today.needed_for|time:"H:i A"}} -
            ${{delivery_order_for_today.total_price}} -- NOT paid </a>
        {%else%}
        <a href="{%url 'order_details' delivery_order_for_today.pk %}"> {{delivery_order_for_today.customer.name}} -
            {{delivery_order_for_today.needed_for|time:"H:i A"}} -
            ${{delivery_order_for_today.total_price}} -- PAID </a>
        {%endif%}
        <br>
    </li>
    {% endfor %}
</ul>





{% endblock %}