{% extends 'base.html' %}

{% block content %}
<style>
    .messages ul,
    .posts ul {
        /* Add border-bottom for separation between sections */
        border-bottom: 1px solid #ddd;
        padding-bottom: 15px;
    }
</style>

<h1>Add Order</h1>
<br>
{{ form.media }}

<form method="post">
    {% csrf_token %}
    {{ order_form.as_p }}

    {{ food_item_formset.management_form }} {% for form in food_item_formset %}
    <!--Putting them in a div makes them render on top of each other-->
    <div class="food-item-form">
        {{ form.as_table }}
    </div>

    {% endfor %}

    <br>
    <br>
    <button type="submit" class="btn btn-success">Submit Order</button>

</form>

<br>
<a href=" {%url 'orders' %}"> <button class="btn btn-dark">Cancel</button></a>


{% endblock %}