{% extends 'base.html' %}

{% block content %}
<style>
    .messages ul,
    .posts ul {
        /* Add border-bottom for separation between sections */
        border-bottom: 1px solid #ddd;
        padding-bottom: 15px;
    }
</style>

<h1>Add Order</h1>
<br>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}


    {% for form in form.order_items %}
    {{ form.as_table }}
    {% endfor %}
    <button type="submit">Submit Order</button>
</form>

<br>
<a href="{%url 'orders' %}"> <button class="btn btn-dark">Cancel</button></a>



{% endblock %}