{% extends 'base.html' %}

{% block content %}

<h1>Order Details</h1>
<br>
<h2>#{{order.pk}}</h2>
<h3>Customer: {{order.customer}}</h3>
<br>
<h3>Needed For: {{object.needed_for}}</h3>
<br>
<h3>Order Items:</h3>
<ul>
    {% for item in object.order_items.all %}
    <li>{{ item }} -- ${{item.price}} </li>
    {% endfor %}
</ul>

<br>
<h3>For Delivery: {{object.delivery}} </h3>
{%if object.delivery%}
<h3>Customer's Location: {{order.customer.location}}</h3>
{%endif%}

{%if object.paid == False %}
<h3 style="color: red;">NOT paid </h3>
{%else%}
<h3 style="color: green;">PAID</h3>
{%endif%}

<h3>Total Price: ${{object.total_price}}</h3>
<h3>Notes: {{object.notes}}</h3>

<p>Created At: {{object.created_at}}</p>



<hr>

<!--Context-aware back button. If the order is for today, it will take you to the today section, if not it will take you to the future section-->
{% now "Y-m-d" as current_date %}

{% if object.needed_for|date:"Y-m-d" == current_date %}
{# Needed for today, redirect to "home" #}
<a href="{% url 'home' %}"><button class="btn btn-dark">Back</button></a>
{% else %}
{# Needed for a future date, redirect to "future_orders" #}
<a href="{% url 'future_orders' %}"><button class="btn btn-dark">Back</button></a>
{% endif %}

<a href="{%url 'edit_order' object.pk %}"> <button class="btn btn-dark">Edit</button></a>
<br>
<br>
<!--Make as Paid or Not paid-->
<form method="post">
    {% csrf_token %}
    {% if object.paid == False %}
    <button type="submit" name="toggle_paid" class="btn btn-success">
        Mark as Paid
    </button>
    {% else %}
    <button type="submit" name="toggle_paid" class="btn btn-danger">
        Mark as NOT Paid
    </button>
    {%endif%}
</form>

<br>
<br>
<button onclick="window.print()">Print this page</button>



{% endblock %}